.not-found-main-cont {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-image {
  width: 30vw;
}

.not-found-head {
  color: #080808;
  font-size: 24px;
  font-weight: 600;
}

.not-found-para {
  color: #080801;
  font-size: 14px;
  font-weight: 500;
}
